


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @*
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        *@
        <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
        <li>@Html.ActionLink("Purchase History", "GetPurchaseHistory", "Purchases")</li>
        <li>@Html.ActionLink("Cart", "ViewCart", "Cart")</li>
    </ul>
</div>
