@using Cart.Models;

<h2>ViewCart</h2>
@{
	ViewBag.Title = "ViewCart";
}

@Html.ActionLink("Continue Shopping", "Gallery", new { Id = 3 })
@Html.ActionLink("Checkout", "Checkout", new { Id = 12345 }) <br><br><br>

@{
	var items = (List<CartItem>)ViewData["Items"];
	var i = 0; var j = 1;
	var result = 0;

}


<body onload="main()">

<table align="right">
	<tr>
		<td>Total $:
		<td>
		<td><div id="total_box"></div></td>
	</tr>
</table>

<p>Product List</p>
<table>
	@{
		foreach (var item in items)
		{

			<tr>
				<td>
					<p align="center">@item.ProductName</p>
					<p align="center">@item.ProductDescription</p>
				</td>
			</tr>
			<tr>
				<td> Price : </td>
				<td> <div id="dp1">@item.Price</div></td>
				<td> <input id="@item.ProductId" value="@item.Price" hidden></td>
			</tr>
			<tr>
				<td> Qty : </td>
				<td> <input id="@item.ProductId" type="number" min="0" value="@item.Qty"> </td>
			</tr>
			@result= @result+(item.Price * item.Qty);
		}
	}
</table>

	<div id="test">Show List</div>
	<div id="test2">Show List</div>
</body>

<script type="text/javascript">
	function main()
	{
		var result1 = parseInt(@items[@i].Price) * parseInt(@items[@i].Qty);
		var result2 = parseInt(@items[@j].Price) * parseInt(@items[@j].Qty);
		var test_box = document.getElementById("test");
		test_box.innerHTML = result1 + result2;

		var test2 = document.getElementById("test2");
		test2.innerHTML = @result;

		@*while (@i <@items.Count)
		{
			@result+=parseInt(@items[@i].Price) * parseInt(@items[@i].Qty);
			@i++;
		}

		var total =@result;
		var total_box = document.getElementById("total_box");
		total_box.innerHTML = total;*@


	}

</script>

<style>
	td, tr {
		padding: 2px;
	}
</style>


